@model Ipek_Helpdesk.Tickets.TicketDto
@{
    var agentList = new[] { "ainan", "bkececi", "eselcuk", "hulker", "klevendoglu", "mbirtane", "ocabuk", "smaltunc", "sguldogan", "yerdal" };
}

<form id="form">
    @Html.HiddenFor(model => model.Id)
    <p>
        <strong>Job:</strong> @Model.Subject  - <strong>Assign to agent:</strong> @Html.DropDownListFor(m => m.AssignedTo, new SelectList(agentList), new { @class = "form-control", style="width: 199px; display: inline;" })
        <input id="addNew" type="button" value="Assign" class="btn btn-default" onclick="javascript: AssignTicket();" />
    </p>
</form>