@model Ipek_Helpdesk.Tickets.TicketDto
@{
    var agentList = new[] { "ainan", "bkececi", "eselcuk", "hulker", "klevendoglu", "mbirtane", "ocabuk", "smaltunc", "sguldogan", "yerdal" };
}

<form id="form">
    @Html.HiddenFor(model => model.Id)
    <p>
        <strong>Subject:</strong> @Model.Subject  - <strong>Agent:</strong> @Html.DropDownListFor(m => m.AssignedTo, new SelectList(agentList), new { @class = "form-control", style="width: 199px; display: inline;" })
        <input id="addNew" type="button" value="Submit" class="btn btn-default" onclick="javascript: Submit();" />
    </p>
</form>